.select-models {
	margin-bottom: 5px;
	position: absolute;
	bottom: 0;
}

.MyCustomHitsList {
	list-style: none;
	padding-left: 0;
}

@media (max-width: 767.98px) {
	.form-control-sm+.select2-container .select2-selection__rendered {
		font-size: 10px;
	}
}
